#body{
  background-color: lightgray;
}

#userLoginTag{
  text-align: center;
}

#loginPage{
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.userInfo{
  text-align: center;
  border: 2px solid darkgreen;
  border-radius: 5px;
  height: 15px;
  width: 150px;
  outline: none;
}

#header{
  text-align: center;
  color: darkgreen;
  font-family: sans-serif;
}

#messageFormTag{
  text-align: center;
}

#messageInput{
  border: 2px solid darkgreen;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  outline: none;
}

#messageListTag{
  text-align: center;
  margin-right: 25%;
  color: darkgreen;
}

#sendButton{
  border-radius: 50%;
  padding: 10px;
  background-color: green;
}

.logOutButton{
  border-radius: 20%;
  padding: 10px;
  background-color: darkred;
  color: white;
}

.userButton{
  border-radius: 20%;
  background-color: darkgreen;
  color: white;
}

#homeButtons{
  margin-top: 25px;
}
