#body{
  background-color: gray;
}

#userLoginTag{
  text-align: center;
}

#loginPage{
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.userInfo{
  text-align: center;
  border: 2px solid #90EE90;
  border-radius: 5px;
  height: 15px;
  width: 150px;
  outline: none;
}

#header{
  text-align: center;
  color: #90EE90;
  font-family: sans-serif;
}

#messageFormTag{
  text-align: center;
}

#messageInput{
  border: 2px solid #90EE90;
  border-radius: 15px;
  height: 30px;
  width: 300px;
  outline: none;
}

#messageListTag{
  text-align: center;
  margin-right: 25%;
  color: #90EE90;
}
